<AuthorizeView>
    <Authorized>
        Hoşgeldin , @context.User.Identity?.Name!
        <a href="MicrosoftIdentity/Account/SignOut">Çıkış Yap</a>
    </Authorized>
    <NotAuthorized>
        <a href="MicrosoftIdentity/Account/SignIn">Giriş Yap</a>
    </NotAuthorized>
</AuthorizeView>
