<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="https://www.happycenterhal.cok">HappyCenter Hal</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">

        <div class="nav-item px-3 text-center">
            <img src="logoflat.jpeg" width="140" height="60" />
        </div>
        <AuthorizeView Roles="AppAdmin">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="ManageOffers">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Manage offers
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="ManageProducts">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Manage Products
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="ArchivedOffers">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Archived Offers
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView Roles="AppCostumer">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="CreateOffer">
                        <span class="oi oi-plus" aria-hidden="true"></span> New Offer
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="MyOffers">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> My offers
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
